.text-sm {
  font-size: 14px;
}
.large-header {
  font-weight: 700;
}

.tracking-tight {
  letter-spacing: -0.025em;
}
.tracking-wide {
  letter-spacing: 0.025em;
}

.bg-gray {
  background-color: #f2f2f2;
}

.object-cover {
  object-fit: cover;
  border-radius: 4px;
}
