<div class="container-fluid mt-4 mb-4">
  <div *ngIf="isLoading === false" wmAnimate="fadeInUp" speed="fast" once class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <small class="small-header">MARKET VIEW</small>
        <h3 class="large-header">Today's Marketing Briefing.</h3>
      </div>
    </div>
    <!-- Stock Overview -->
    <div class="row mb-3">
      <div class="stockScroller">
        <div class="stockMiniCard col-md-3 col-sm-6 scroll-card p-2" *ngFor="let item of marketData">
          <p class="mb-0 font-weight-bold">{{ item.symbol }}</p>
          <p class="stockName mb-0">{{ item.name }}</p>
          <div class="p-2"></div>
          <div class="stockCardFooter">
            <p class="mb-0 font-weight-bold">{{ item.price }}</p>
            <p style="font-size: 0.8rem" [ngStyle]="{ color: item.isProfit === true ? 'green' : 'red' }">
              <span *ngIf="!item.isProfit">-</span>
              <span *ngIf="item.isProfit">+</span>
              {{ item.profit }}%
            </p>
          </div>
        </div>
      </div>
      <div class="p-1 col-md-12"></div>
      <small style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Active Stocks last updated Dec 29 2020.</small>
    </div>
    <!--End Stock Overview -->
    <!-- Sector Highlights -->
    <div class="row">
      <div class="col-md-8 pt-3 mb-2 border-top pb-3 border-bottom">
        <h5 class="large-header mb-0">Sector Highlights</h5>
        <small style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Dec 29 2020, 09:10:28pm</small>
        <div class="row">
          <div class="imgCard mb-2 col-md-6" *ngFor="let item of industryData">
            <img class="img-fluid" [src]="item.imgUrl" alt="Snow" />
            <div class="top-left ml-2">{{ item.industry }}</div>
            <div class="bottom-right">
              <div [ngClass]="item.isProfit === true ? 'badge-success' : 'badge-danger'" class="badge mr-2">
                <span *ngIf="!item.isProfit">-</span>
                <span *ngIf="item.isProfit">+</span> {{ item.profit }}%
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="p-3 shadow-sm">
          <h5 class="large-header">My Watchlist <fa-icon [icon]="starIcon"></fa-icon></h5>
          <p style="font-size: 0.85rem">
            Your Watchlist is empty. Build your watchlist by starring(<fa-icon
              style="color: blue"
              [icon]="starIcon"
            ></fa-icon
            >) the blocks you want to follow
          </p>
        </div>
      </div>
    </div>
    <!-- End Sector Highlights -->
    <!-- Dividens Starts -->
    <div class="row">
      <div class="col-md-8 pt-3 pb-3">
        <h5 class="large-header">Ex-Dividends</h5>
        <div class="d-flex justify-content-between">
          <small style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Symbol</small>
          <small style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Amount</small>
        </div>
        <hr class="mt-0" />
        <div *ngFor="let item of dividenData" class="d-flex mb-1 justify-content-between">
          <span style="font-weight: 400; font-size: 0.85rem">
            {{ item.stockSymbol }}
          </span>
          <span style="font-weight: 400; font-size: 0.85rem">
            {{ item.amount | currency }}
          </span>
        </div>
      </div>
      <div class="col-md-4 pt-3 pb-3"></div>
      <hr />
    </div>
    <!-- Dividens Ends -->
    <!-- Earnings Starts -->
    <div class="row">
      <div class="col-md-12 pt-3 pb-3">
        <h5 class="large-header">Ex-Dividends</h5>
        <div class="table-responsive">
          <table class="table table-lg" style="width: 100%">
            <thead class="border-top-0">
              <tr>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Symbol</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Company</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Fiscal Period</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Consensus Estimated EPS</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Actual EPS</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Suprise</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">EPS, Year Ago</th>
                <th scope="col" style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">% Change From Last Year</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mb-1 mt-1" *ngFor="let item of earningsData">
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.stockSymbol }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.company }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.fiscalPeriod }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.epsEstimate | currency }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.actualEps | currency }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.suprise === true ? 'Yes' : 'No' }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">
                  {{ item.epsYearAgo | currency }}
                </td>
                <td style="font-weight: 400; text-align: center; font-size: 0.85rem">{{ item.changeFromLast }}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Earnings Ends -->
    <div class="row">
      <div class="col-md-12">
        <h5 class="large-header mb-0">Sector Highlights</h5>
        <small style="font-size: 0.6rem; font-weight: 400; color: #cdcdcd">Dec 29 2020, 09:10:28pm</small>
        <div class="row justify-content-center">
          <div class="imgCard mb-2 col-md-3" *ngFor="let item of sectorData">
            <img class="img-fluid" [src]="item.imgUrl" alt="Snow" />
            <div class="top-left ml-2">{{ item.name }}</div>
            <div class="bottom-right">
              <div [ngClass]="item.isProfit === true ? 'badge-success' : 'badge-danger'" class="badge mr-2">
                <span *ngIf="!item.isProfit">-</span>
                <span *ngIf="item.isProfit">+</span> {{ item.profit }}%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading === true" class="container" wmAnimate="fadeOut" speed="fast" once>
    <div class="p-5"></div>
    <div class="text-center col-md-12">
      <i class="fas fa-circle-notch fa-spin fa-3x"></i>
      <p>Please Wait...</p>
    </div>
    <div class="p-5"></div>
  </div>
</div>
